// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

// fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

div.card {
	.card-controls {
		width: fit-content;
		.btn {
			border-color: transparent;
		}
	}
}

.badge {
	color: white;
}

@keyframes slowEntrance {
  from {
    filter: opacity(1);
    transform: scale(1);
  }
  to {
    filter: opacity(0);
    transform: scale(0.5);
  }
}
